extends layout

block content
    h1= title
    form(name="add-estimation", method="post")
        div.input
            span.label Name
            input(type="text", name="name")
        div.input
            span.label Email
            input(type="email", name="email")
        div.actions
            input(type="submit", value="Save")
    
