<%- include('../partials/header.ejs'); %>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>403</h1>

                <p>No tienes permisos para ver la página solicitada.</p>
                <p><a href="/login" class="btn btn-primary">Login</a></p>
            </div>
        </div>
    </div>

    <%- include('../partials/footer.ejs'); %>